<ng-container *ngIf="mode === 'page'">
  <app-header [history]="history"></app-header>
  <app-side-bar></app-side-bar>
</ng-container>
<div
  class="w-100 container-section"
  [ngClass]="{ 'container-row d-flex': mode === 'page' }"
>
  <ng-container
    *ngTemplateOutlet="loadingAll; context: { loading: loading }"
  ></ng-container>
  <div *ngIf="mode === 'home'" class="col-12 mb-2">
    <!-- <b class="text-muted">{{ title }}</b> -->
  </div>
  <app-list-items
    [(data)]="data"
    [mode]="cbMode"
    [beginAdd]="false"
    [customTemplate]="customTemplateSrc"
    (cbSrc)="onSrc($event)"
    class="col-12 row m-0 pl-1 pr-1"
  >
  </app-list-items>
  <ng-container
    *ngTemplateOutlet="templateEmpty; context: { data: dataTake }"
  ></ng-container>
</div>

<!-- ************ PAGINATE BUTTON ************  -->
<div *ngIf="viewMore" class="w-100" [style.opacity]="loading ? '0' : '1'">
  <ng-template
    #firstTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
  </ng-template>
  <ng-template
    #lastTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
  </ng-template>
  <ng-template
    #prevTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </ng-template>
  <ng-template
    #nextTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </ng-template>
  <div class="pagination-row">
    <pagination
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="pagination.limit"
      [customFirstTemplate]="firstTemplate"
      [customLastTemplate]="lastTemplate"
      [customPreviousTemplate]="prevTemplate"
      [customNextTemplate]="nextTemplate"
      [maxSize]="pagination.limit"
      [totalItems]="pagination.paginationConfig?.totalDocs"
    >
    </pagination>
  </div>
</div>

<!-- ************ PAGINATE BUTTON ************  -->

<!-- ***************** TEMPLATE ************** -->
<ng-template #customTemplateSrc let-dat="dat">
  <ul>
    <li
      *ngFor="let inside of data | async"
      [routerLink]="['/', 'support', inside?._id]"
    >
      <div class="row ml-0 mr-0 item-list-single col-12 pl-0 pr-0 pb-3">
        <!--Blocked CUSTOMER 1-->
        <div
          class="pl-2 pr-2 pt-1 pb-1 col-lg-2 col-xl-2 col-md-4 col-sm-4 col-4"
        >
          <div class="d-flex">
            <div class="pr-2">
              <ngx-avatar
                tooltip="{{ tooltip(inside) }}"
                [round]="false"
                [cornerRadius]="4"
                [size]="35"
                [name]="inside?.customData?.travelerFirstName"
              ></ngx-avatar>
            </div>
            <div class="w-100">
              <div>
                <span class="text-muted truncate font-weight-bold">
                  <fa-icon size="sm" [icon]="faEnvelope"></fa-icon>
                  {{ inside?.hash }}</span
                >
              </div>
              <div
                [tooltip]="inside?.createdAt | timeago: true"
                class="mr-2 w-75 truncate small text-muted"
              >
                {{ inside?.createdAt | date }}
              </div>
            </div>
          </div>
        </div>
        <div
          class="pl-2 pr-2 pt-1 pb-1 col-lg-2 col-xl-2 col-md-4 col-sm-4 col-4"
        >
          <div class="d-flex">
            <div class="w-100">
              <div>
                <span class="text-muted truncate font-weight-bold">
                  <fa-icon size="sm" [icon]="faUmbrellaBeach"></fa-icon>
                  {{ inside?.codeReservation }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="pl-2 pr-2 pt-1 pb-1 col-lg-4 col-xl-6 col-md-4 col-sm-4 col-4"
        >
          <div class="d-flex align-items-center align-content-center">
            <div>
              <div>
                <div class="font-weight-bold">
                  {{ inside?.customData?.tourTitle }}
                </div>
                <div class="">
                  <span
                    [innerHTML]="inside?.firstMessage?.message"
                    class="td-truncate custom-message small text-muted ellipsis"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Blocked-->
        <!--Blocked 1-->
        <div
          class="pl-2 pr-2 pt-1 pb-1 col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4"
        >
          <div
            class="
              d-flex
              justify-content-end
              align-content-center align-items-center
            "
          >
            <div
              [tooltip]="inside?.status"
              containerClass=""
              [ngClass]="{
                'purchase-status-badge-paid': inside.status === 'completed',
                'purchase-status-badge-hold': inside.status === 'pending',
                'purchase-status-badge-process': inside.status === 'progress',
                'purchase-status-badge-exceptional':
                  inside.status === 'exceptional',
                'purchase-status-badge-credit': inside.status === 'credit',
                'purchase-status-badge-pre-paid ':
                  inside.status === 'pre-paid ',
                'purchase-status-badge-delivery-paid':
                  inside.status === 'delivery-paid'
              }"
            ></div>
            <!-- ******** PDF PLUGIN *** -->

            <!--            <div class="ml-2" appCheckPlugin [namePlugin]="'pdfReport'">-->
            <!--              <Kit-button-pdf [id]="inside?._id"></Kit-button-pdf>-->
            <!--            </div>-->

            <!-- ******** PDF PLUGIN *** -->
          </div>
        </div>
      </div>
    </li>
  </ul>
</ng-template>
<!-- ***************** FIN TEMPLATE ************** -->
<ng-template #templateEmpty let-data="data">
  <ng-container *ngIf="!loading"
    ><app-box-empty *ngIf="!data?.length"></app-box-empty
  ></ng-container>
</ng-template>
<ng-template #loadingAll let-loading="loading">
  <div *ngIf="loading === true" class="w-100 text-center h-100 loading-wrapper">
    <div class="in">
      <img
        [width]="'5rem'"
        src="../../../../../assets/images/loading-svg.svg"
        alt="loading"
      />
    </div>
  </div>
</ng-template>
