.custom-line {
  align-items: center;
}

::ng-deep .custom-message {
  p {
    margin: 0 !important;
  }
}

.td-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.ellipsis {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: absolute;
}
