<ng-container
  *ngTemplateOutlet="loadingRef; context: { loading: loading }"
></ng-container>
<div class="general-cont">
  <div class="general">
    <div class="header-title p-3 p-2">
      <h3>
        <Strong>{{ 'USER.MY_TRIP' | translate }} </Strong>
      </h3>
    </div>
    <div *ngIf="!loading" class="container custom-row">
      <ng-container
        *ngIf="data?._id; then whitData; else WhitOutData"
      ></ng-container>
      <ng-template #whitData>
        <div class="all">
          <div class="buttons">
            <button
              name="loginR"
              class="col-6 style-button btn"
              [ngClass]="{ classActive: formAction }"
            >
              {{ 'AUTH_LOGIN.LOGIN' | translate }}
            </button>
            <button
              name="signR"
              class="col-6 style-button btn"
              [ngClass]="{ classActive: !formAction }"
            >
              {{ 'AUTH_LOGIN.SIGN_UP' | translate }}
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template #WhitOutData>
        <h1>sin datos</h1>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #loadingRef let-loading="loading">
  <div
    class="w-100 loading-wrap animate__animated animate__fadeIn"
    *ngIf="loading === true"
  >
    <div class="in">
      <img class="circle" src="/assets/loading.svg" alt="loading" />
      <div>
        <small>{{ 'GENERAL.LOADING' | translate }}</small>
      </div>
    </div>
  </div>

  <div
    class="w-100 error-wrap animate__animated animate__fadeIn"
    *ngIf="loading?.status"
  >
    <div class="in">
      <img
        class="img"
        src="/assets/extra/drawkit-grape-pack-illustration-7.svg"
        alt="status loading"
      />
      <div>
        <small>{{ 'GENERAL.ERROR' | translate }}</small>
      </div>
    </div>
  </div>
</ng-template>
