<div class="cont-discover">
  <div class="title-in-search">
    <h3>{{ 'SEARCH.TOURS.OUR_TRIPS' | translate }}</h3>
  </div>
  <div class="w-100 custom-row">
    <div
      class="col-6 col-xl-3 col-lg-3 col-sm-6 col-xs-6 rem-padding-width"
      *ngFor="let item of itemsData"
    >
      <div class="cont-square">
        <div class="square">
          <div
            class="
              inside-square
              d-flex
              justify-content-between
              align-content-center align-items-center
            "
          >
            <div class="d-flex">
              <div class="icon-style">
                <fa-icon class="icon-search" [icon]="faSearch"></fa-icon>
              </div>
              <p>{{ item.name | translate }}</p>
            </div>
            <div class="arow">
              <i [style.fontSize]="'1.5rem'" class="uil uil-angle-right-b"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
