<div class="row m-0 col-12 p-0 position-absolute h-100">
  <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
    <div class="login-section">
      <div class="w-100">
        <div class="title-section animate__animated animate__fadeInDown">
          <h1 class="title">{{ "LOGIN.REGISTER.GET_START" | translate }}</h1>
          <span class="text-muted">{{ "LOGIN.SUB_TITLE" | translate }}</span>
        </div>
        <form
          class="animate__animated animate__fadeInDown"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
        >
          <div class="form-group">
            <label for="exampleInputEmail1">{{
              "LOGIN.FORM.NAME" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="exampleInputEmail0"
              placeholder=""
            />
            <small class="form-text text-muted">{{
              "LOGIN.FORM.NAME_PLACEHOLDER" | translate
            }}</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">{{
              "LOGIN.FORM.EMAIL" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="email"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder=""
            />
            <small class="form-text text-muted">{{
              "LOGIN.FORM.EMAIL_PLACEHOLDER" | translate
            }}</small>
          </div>

          <div class="form-group pt-2">
            <label for="exampleInputPassword1">{{
              "LOGIN.FORM.PASSWORD" | translate
            }}</label>
            <div class="position-relative">
              <input
                [type]="!showPass ? 'password' : 'text'"
                formControlName="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder=""
              />
              <span class="wrapper-show-pass" (click)="showPass = !showPass">
                <fa-icon *ngIf="!showPass" [icon]="faEye"></fa-icon>
                <fa-icon *ngIf="showPass" [icon]="faEyeSlash"></fa-icon>
              </span>
            </div>
            <small class="form-text text-muted">{{
              "LOGIN.FORM.PASSWORD_PLACEHOLDER" | translate
            }}</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">{{
              "LOGIN.FORM.PHONE" | translate
            }}</label>
            <input
              type="text"
              prefix="+"
              mask="(00) 000-0000000"
              class="form-control"
              formControlName="phone"
              [validation]="false"
              id="exampleInputEmail3"
              placeholder=""
            />
            <small class="form-text text-muted">{{
              "LOGIN.FORM.PHONE_PLACEHOLDER" | translate
            }}</small>
          </div>

          <div class="pt-3 pb-3">
            <button
              [disabled]="!form.valid"
              ngxLoading
              [textInitial]="'LOGIN.FORM.SEND' | translate"
              [textLoading]="'GENERAL.LOADING_SINGLE' | translate"
              [loadingFlag]="loading"
              type="submit"
              class="btn btn-primary btn-radius btn-block"
            ></button>
          </div>

          <!--          <div class="separator text-muted">{{'GENERAL.OR' |translate}}</div>-->

          <!--          <div class="row pt-3">-->
          <!--            <div class="col-6">-->
          <!--              <a [href]="'urlOauth.google'"-->
          <!--                 type="submit" class="btn hvr-grow btn-default btn-oauth-google font-weight-bold btn-radius btn-block">-->
          <!--                <fa-icon [icon]="faGoogle"></fa-icon>-->
          <!--                {{'LOGIN.BTN_GOOGLE' | translate}}-->
          <!--              </a>-->
          <!--            </div>-->
          <!--            <div class="col-6">-->
          <!--              <a [href]="'urlOauth.fb'"-->
          <!--                 type="submit" class="btn hvr-grow btn-default btn-oauth-google font-weight-bold btn-radius btn-block">-->
          <!--                <fa-icon [icon]="faFacebookF"></fa-icon>-->
          <!--                {{'LOGIN.BTN_FACEBOOK' | translate}}-->
          <!--              </a>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="row pt-3">-->
          <!--            <div class="col-6">-->
          <!--              <a [href]="'urlOauth.google'"-->
          <!--                 type="submit" class="btn hvr-grow btn-default btn-oauth-google font-weight-bold btn-radius btn-block">-->
          <!--                <fa-icon [icon]="faSlack"></fa-icon>-->
          <!--                {{'LOGIN.BTN_SLACK' | translate}}-->
          <!--              </a>-->
          <!--            </div>-->
          <!--            <div class="col-6">-->
          <!--              <a [href]="'urlOauth.fb'"-->
          <!--                 type="submit" class="btn hvr-grow btn-default btn-oauth-google font-weight-bold btn-radius btn-block">-->
          <!--                <fa-icon [icon]="faLinkedinIn"></fa-icon>-->
          <!--                {{'LOGIN.BTN_LINKEDIN' | translate}}-->
          <!--              </a>-->
          <!--            </div>-->
          <!--          </div>-->

          <div class="w-100 mt-4 mb-2">
            <span class="form-text text-muted">
              {{ "LOGIN.FORM.ALREADY_ACCOUNT" | translate }}
              <a class="ml-1" routerLink="/auth/login">
                {{ "LOGIN.FORM.SIGN_IN" | translate }}</a
              >
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
