<div class="main-container-form" *ngIf="!loading">
  <div class="text-center truncate">
    <h5>
      {{ 'CREATE_RESERVATION.LAST_STEP' | translate }}
      <div class="text-primary truncate">"{{ tour?.title }}"</div>
    </h5>
  </div>
  <hr />
  <div class="container-form pt-2 pb-2">
    <div class="title-section pb-2">
      {{ 'CREATE_RESERVATION.PERSONAL_INFO' | translate }}
    </div>
    <div class="">
      <form [formGroup]="reservationForm">
        <div class="row">
          <div class="col-lg-6 col-md-6 input-container">
            <div class="form-group">
              <small class="text-muted">{{
                'CREATE_RESERVATION.NAME_PLACEHOLDER' | translate
              }}</small>
              <input
                type="text"
                class="form-control"
                formControlName="travelerFirstName"
                placeholder=""
                controlErrorsClass="error-class-tailor"
              />
            </div>
          </div>

          <div class="col-lg-6 col-md-6 input-container">
            <div class="form-group">
              <small class="text-muted">{{
                'CREATE_RESERVATION.SURNAME_PLACEHOLDER' | translate
              }}</small>
              <input
                type="text"
                class="form-control"
                formControlName="travelerLastName"
                placeholder=""
                controlErrorsClass="error-class-tailor"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 input-container">
            <div class="form-group">
              <div class="d-flex align-items-center">
                <small class="text-muted">{{
                  'CREATE_RESERVATION.DOCUMENT_PLACEHOLDER' | translate
                }}</small>
                <i
                  class="pl-2 uil uil-question-circle"
                  tooltip="{{
                    'CREATE_RESERVATION.TOOLTIP_DOCUMENT' | translate
                  }}"
                ></i>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="travelerDocument"
                placeholder=""
                controlErrorsClass="error-class-tailor"
              />
            </div>
          </div>

          <div class="col-lg-4 col-md-6 input-container">
            <div class="form-group">
              <small class="text-muted">{{
                'CREATE_RESERVATION.BIRTH_DATE_PLACEHOLDER' | translate
              }}</small>
              <input
                #dp="bsDatepicker"
                bsDatepicker
                readonly
                formControlName="travelerBirthDay"
                [maxDate]="today"
                (bsValueChange)="checkDate($event)"
                [bsConfig]="{
                  showWeekNumbers: false,
                  isAnimated: false,
                  dateInputFormat: 'DD-MMM-YYYY',
                  containerClass: 'theme-red'
                }"
                class="form-control dp-dd"
                placeholder=""
              />
            </div>
          </div>

          <div class="col-lg-4 col-md-12 input-container">
            <div class="form-group position-relative w-100">
              <small class="text-muted">{{
                'CREATE_RESERVATION.GENDER_PLACEHOLDER' | translate
              }}</small>
              <ng-select
                [items]="genders"
                bindLabel="name"
                autofocus
                required
                [searchable]="false"
                [clearable]="false"
                class="form-control select-custom"
                bindValue="value"
                formControlName="travelerGender"
              >
              </ng-select>
              <!--              <select name="gender-select" class="form-control" formControlName="travelerGender">-->
              <!--                <option hidden value="" disabled selected>{{'USER.DEFAULT_GENDER' | translate}} </option>-->
              <!--                <option [value]="item.value" *ngFor="let item of genderArray">{{item.name}}</option>-->
              <!--              </select>-->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 input-container">
            <div class="form-group">
              <small class="text-muted">{{
                'CREATE_RESERVATION.EMAIL_PLACEHOLDER' | translate
              }}</small>
              <input
                type="text"
                class="form-control"
                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                formControlName="travelerEmail"
                placeholder=""
                [disabled]="true"
                controlErrorsClass="error-class-tailor"
              />
            </div>
          </div>

          <div class="col-lg-6 col-md-6 input-container phone-reservation">
            <div class="form-group">
              <small class="text-muted">{{
                'CREATE_RESERVATION.PHONE_PLACEHOLDER' | translate
              }}</small>
              <ngx-intl-tel-input
                class="form-control"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [selectFirstCountry]="false"
                [searchCountryFlag]="true"
                [searchCountryPlaceholder]="'Buscar Pais'"
                [selectedCountryISO]="CountryISO.Mexico"
                [maxLength]="'15'"
                [spellcheck]="false"
                #inputPhone
                inputmode="search"
                controlErrorsClass="error-class-tailor"
                [separateDialCode]="true"
                formControlName="travelerPhone"
              >
              </ngx-intl-tel-input>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <div class="container-form">
    <div class="title-section pb-2 truncate">
      {{ 'CREATE_RESERVATION.LOCATION_INFO' | translate }}
    </div>

    <form [formGroup]="locationForm">
      <div class="row">
        <div class="col-lg-6 col-md-6 input-container">
          <div class="form-group">
            <small class="text-muted">{{
              'CREATE_RESERVATION.COUNTRY_PLACEHOLDER' | translate
            }}</small>
            <input
              autocomplete="nope"
              type="text"
              [typeahead]="countries"
              placeholder=""
              formControlName="country"
              class="form-control"
            />
          </div>
        </div>

        <div class="col-lg-6 col-md-6 input-container">
          <div class="form-group">
            <small class="text-muted">{{
              'CREATE_RESERVATION.CITY_PLACEHOLDER' | translate
            }}</small>
            <input
              type="text"
              class="form-control"
              formControlName="city"
              placeholder=""
              controlErrorsClass="error-class-tailor"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 input-container">
          <div class="form-group">
            <small class="text-muted">{{
              'CREATE_RESERVATION.ADDRESS_PLACEHOLDER' | translate
            }}</small>

            <input
              type="text"
              class="form-control"
              formControlName="travelerAddress"
              placeholder=""
              controlErrorsClass="error-class-tailor"
            />
          </div>
        </div>
      </div>

      <div class="w-100 d-flex justify-content-between pt-3 pb-3">
        <button
          name="cancel"
          type="reset"
          (click)="clear()"
          class="btn btn-outline-primary"
          ngxLoading
          [loadingFlag]="loading"
          [textInitial]="'GENERAL.CANCEL' | translate"
          [textLoading]="'GENERAL.SENDING' | translate"
        ></button>
        <button
          name="sendReservation"
          (click)="openModalQuestions()"
          class="btn btn-primary"
          ngxLoading
          [loadingFlag]="loading"
          [disabled]="reservationForm.invalid || locationForm.invalid"
          [textInitial]="'GENERAL.SEND' | translate"
          [textLoading]="'GENERAL.SENDING' | translate"
        ></button>
      </div>
    </form>
  </div>
</div>
