<div (paste)="onPaste($event)">
  <input type="file" />
  <quill-editor
    [placeholder]="'TASK.WRITE' | translate"
    [(ngModel)]="value"
    [modules]="modules"
    [styles]="{ height: textRich?.addAttachments?.length ? '160px' : '215px' }"
    class="description-card"
    (onContentChanged)="onInput($event)"
    spellcheck="false"
    customToolbarPosition="bottom"
  >
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-link"></button>
      </span>
      <select class="ql-size">
        <option value="small"></option>
        <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-align" [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <!-- <select class="ql-background"></select> -->
      </span>

      <span class="ql-formats">
        <button class="ql-list" type="button" value="ordered"></button>
        <button class="ql-list" type="button" value="bullet"></button>
      </span>

      <span class="ql-formats" *ngIf="activeLoadFiles">
        <button type="button" class="m-0 p-0">
          <label class="m-0 pt-1 pb-1 pl-2 pr-2 pointer" for="file-upload">
            <fa-icon [icon]="faPaperclip"></fa-icon>
          </label>
          <input
            id="file-upload"
            #imageInput
            multiple
            type="file"
            accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps"
            (change)="textRich.processFile(imageInput)"
          />
        </button>
      </span>
    </div>
  </quill-editor>
  <div
    class="gallery-attachment"
    *ngIf="
      textRich?.addAttachments?.length && customId && customId === currentId
    "
  >
    <div class="d-flex flex-wrap overflow-x w-100">
      <div
        *ngFor="let image of textRich?.addAttachments"
        class="position-relative other mt-2 mr-2 wrapper-file animate__animated animate__fadeIn"
      >
        <span
          (click)="textRich.removeFile(image)"
          class="position-absolute close-image"
        >
          <fa-icon [icon]="faTimes" size="sm"></fa-icon>
        </span>
        <ng-container *ngIf="image?.blob">
          <img
            [src]="
              image.blob?.type === 'application/pdf' ? iconPdf : image?.image
            "
            alt="image description"
          />
        </ng-container>
        <ng-container *ngIf="image?.source">
          <img
            *ngIf="image?.type === 'image'"
            [src]="image?.source?.small || image?.source?.original"
            alt="{{ image?.source?.small || image?.source?.original }}"
          />
          <img
            *ngIf="image?.type === 'file'"
            [src]="iconPdf"
            alt="{{ image?.source?.original }}"
          />
        </ng-container>
      </div>
    </div>
  </div>
</div>
