@import "./src/shared.scss";

.general-cont {
  width: 100%;
  min-height: 60vh;
  font-size: $font-size-3;
}

.custom-header {
  align-items: center;
}

.meeting-point {
  background-color: #fff1d6;
}

.download-files {
  cursor: pointer;
  text-decoration: underline;
}
