<div class="d-flex flex-column p-3">
  <div class="justify-content-center row p-0 style-header">
    <span class="logo"></span>
    <span class="modal-title-Error">{{
      "ERRORS.LINKING.TITLE" | translate
    }}</span>
  </div>
  <span class="message d-flex flex-column">
    <span class="mb-3"> {{ "ERRORS.LINKING.TEXT" | translate }}</span>
    <span class="mb-3"> {{ errorStripe }}</span>
    <span class="mb-2"> {{ "PAYMENT.ERROR.MSG_ADMIN" | translate }}</span>
  </span>
  <!-- <div class="d-flex justify-content-center mb-3">
    <button type="button" (click)="ClosemodalError()" class="btn btn-danger">
      {{ "PAYMENT.ERROR.MSG_BUTTON" | translate }}
    </button>
  </div> -->
</div>
