@import "./src/shared.scss";

.container-page {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 3.8rem);
  position: absolute;
  width: 100%;
}

.all-section-two {
  margin: 0;
  padding-top: 0;
}

.cont-all {
  padding: 0 18% 0 18%;
}

.custom-text {
  font-size: $font-size-4;
}

.main-color {
  color: $base-color;
}
.main-text {
  padding: 1.8rem 0.625rem 1.25rem 0.625rem;
}

.wellcome,
.title,
.text-description {
  text-align: center;
}

.wellcome {
  color: $text-color-1;
  margin-bottom: 0;
  font-size: 1.7em;
  line-height: 2.5rem;
}

.title {
  color: $text-color-1;
  margin-bottom: 1rem;
  letter-spacing: 0;
  text-decoration: none;
  font-style: normal;
  font-size: 2.5em !important;
  line-height: 2.9rem;
}

.text-description {
  font-size: $font-size-1;
  color: $text-color-1;
  display: flex;
  justify-content: center;
  line-height: 1.75rem;
}

.terms-privacy {
  text-align: center;
  margin-top: 2rem;
  font-size: $font-size-3;
  text-decoration: underline;
  cursor: pointer;
}

.instruction-password {
  font-size: $font-size-2;
  //margin-top: -1rem;
  text-align: justify;
}

.copyright {
  font-size: 1rem;
  margin-top: 3rem;
  text-align: center;
}

.font-click {
  //text-decoration: underline;
  //color: $base-color;
  cursor: pointer;
}

.change-tab {
  font-size: 1rem;
  text-align: center;
}

//smartphone
@media print, screen and (max-width: 740px) {
  .copyright {
    margin-top: 1.5rem;
  }
  .cont-all {
    padding: 0;
  }
  .wellcome {
    font-size: 1.5rem !important;
    line-height: 2.2rem;
  }
  .title {
    line-height: 3rem;
    margin-bottom: 0.625rem;
    font-size: 2.3rem !important;
  }
  .main-text {
    padding: 1.85rem 0.625rem 1.25rem;
  }
  .text-description {
    padding: 0 0.8rem 0 0.8rem;
    font-weight: 1.75rem;
    font-size: 1.14rem;
    display: flex;
  }
  .all-section-two {
    padding-top: 0 !important;
  }
}

@media print, screen and (max-width: 1200px) and (min-width: 740px) {
  .all-section-two {
    padding-top: 0;
  }
  .wellcome {
    font-size: 1.7rem !important;
    line-height: 2.2rem;
  }
  .title {
    font-size: 2.56rem !important;
  }
  .main-text {
    padding: 1.9rem 0.625rem 1.25rem;
  }
}

//desktop
@media print, screen and (min-width: 1200px) {
  .all-section-two {
    padding-top: 2.5em;
  }
}
