<section #header>
  <div class="main-container">
    <div class="container-one">
      <h1 class="truncate">{{ tour?.title }}</h1>
      <app-score [tour]="tour"></app-score>
    </div>
    <div class="container-two">
      <div class="main-section-two">
        <div class="d-flex flex-column">
          <ng-container *ngTemplateOutlet="templatePrice"></ng-container>
          <ng-container *ngTemplateOutlet="templateReserveWith"></ng-container>
        </div>
        <button
          type="button"
          class="btn btn-default ml-3 text-capitalize button-more-info"
        >
          <a
            class="text-dark"
            target="_blank"
            href="https://destinos.mochileros.com.mx/contacto/"
          >
            {{ 'DETAILS_TOUR.MORE_INFO' | translate }}
          </a>
        </button>
        <button
          type="button"
          class="btn btn-primary ml-3 text-capitalize"
          [routerLink]="['/departures/' + tour?.slug]"
        >
          {{ 'DETAILS_TOUR.VIEW_DATES' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>

<ng-template #templateReserveWith>
  <div
    class="d-flex min-percentage"
    *ngIf="(tour?.bestDeparture | smallPercentage)?.amount"
  >
    <span>
      {{ 'DETAILS_TOUR.RESERVE_WITH' | translate }}
      <span
        class="pink-color"
        *ngIf="!(tour?.bestDeparture | smallPercentage)?.specialPayment"
      >
        {{ (tour?.bestDeparture | smallPercentage)?.percentage }}%
      </span></span
    >
    <span class="pink-color pl-2">
      {{
        (tour?.bestDeparture | smallPercentage)?.amount
          | number: '1.2-2'
          | currencyCurrent: '0:true':tour?.bestDeparture?.currencies
      }}</span
    >
  </div>
</ng-template>

<ng-template #templatePrice>
  <div class="container-normal">
    <small class="normal-price" *ngIf="checkDiscount">
      {{
        tour?.bestDeparture?.normalPrice
          | number: '1.2-2'
          | currencyCurrent: '0:true':tour?.bestDeparture?.currencies
      }}
    </small>
    <span class="discount">
      {{
        tour?.bestDeparture
          | discountPrice
          | number: '1.2-2'
          | currencyCurrent: '0:true':tour?.bestDeparture?.currencies
      }}
    </span>
  </div>
</ng-template>
