<div class="cont-main">
  <section #top>
    <app-top></app-top>
  </section>

  <!-- **** blocks **** -->
  <div #block1>
    <section class="d-none d-lg-block d-xl-block" *appVisibility="block1">
      <div class="w-100">
        <div class="content-blogs custom-row pl-0 pr-0">
          <div class="cont-card-blog" *ngFor="let item of blogsInfo">
            <div
              class="cont-card"
              [ngStyle]="{ 'background-color': item?.color }"
            >
              <h3 class="title-blog">{{ item?.title | translate }}</h3>
              <p class="content-blog">{{ item?.content | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div #block2>
    <section *appVisibility="block2">
      <div class="w-100">
        <div class="destination">
          <div class="global-title-home">
            <h2>{{ "HOME.TITLE_DESTINATION" | translate }}</h2>
          </div>
          <div class="info-destination custom-row">
            <div
              class="card-destination hvr-grow btn"
              *ngFor="let item of destinationData"
              (click)="searchCity(item)"
            >
              <div
                class="main-image-home content-destination-card img-fluid"
                [ngStyle]="{
                  'background-image': 'url(' + item?.img + ')'
                }"
              >
                <div class="inside-destination w-100 text-white">
                  <span>{{ item?.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div #block3>
    <section *appVisibility="block3">
      <div class="general pb-4">
        <div class="global-title-home">
          <h2 class="text-white">{{ "HOME.TITLE_GENERAL" | translate }}</h2>
        </div>
        <div class="cont-cards-generals custom-row">
          <div
            class="card-general col-xs-12 col-md-6 pl-0 pr-0 col-lg-4 col-xl-4 position-relative"
            [ngClass]="{ 'col-m-12': last, 'col-md-6': !last }"
            *ngFor="let item of generalData; let last = last"
          >
            <figure
              class="imghvr-push-down general main-image-home content-general-card img-fluid lazyload"
            >
              <div class="inside-general">
                <div class="inside-general-title p-2">
                  <h3 class="m-0 text-dark">{{ item?.title | translate }}</h3>
                </div>
                <p>{{ item?.subTitle | translate }}</p>
              </div>
              <img
                appImgFallback
                class="w-100 image-block"
                [src]="item?.img"
                alt="main"
              />
              <figcaption>
                <img
                  appImgFallback
                  class="w-100"
                  [src]="item?.img"
                  alt="main"
                />
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!---- ***** SECCION DE BLOG ****** -->

  <div #histories>
    <section *appVisibility="histories">
      <div class="w-100">
        <div class="global-title-home">
          <h2>{{ "HOME.TITLE_HISTORIES" | translate }}</h2>
        </div>
        <div class="global-subtitle-home">
          <span>{{ "HOME.SUBTITLE_HISTORIES" | translate }}</span>
        </div>
        <div class="content-history custom-row">
          <ng-container *appOnlyBrowser="true">
            <carousel
              [margin]="20"
              *ngIf="historiesData?.length"
              class="custom-carousel"
              [cellWidth]="300"
              [arrows]="true"
            >
              <div
                class="carousel-cell card-history"
                *ngFor="let item of historiesData"
              >
                <div class="content-history-card">
                  <div class="img-wrap-history">
                    <img
                      appImgFallback
                      [src]="item?.image"
                      alt="{{ item?.image }}"
                    />
                  </div>
                  <div class="minHeightCard">
                    <div class="title-card-history d-flex m-0">
                      <a
                        [href]="item?.href"
                        class="text-dark truncate"
                        target="_blank"
                        >{{ item?.title }}</a
                      >
                    </div>
                    <div class="content-card-history pt-0">
                      <a [href]="item?.href" target="_blank">
                        <p class="m-0 line-clamp-3 text-dark">
                          {{ item?.excerpt?.rendered | striphtml }}
                        </p>
                      </a>
                    </div>
                    <div class="content-card-history">
                      <div
                        class="d-flex w-100 align-items-center align-content-center"
                      >
                        <ngx-avatar
                          [cornerRadius]="3"
                          [round]="false"
                          size="25"
                          [src]="item?.author_avatar"
                          [name]="item?.creator?.name"
                        ></ngx-avatar>
                        <span class="pl-2">{{ item?.creator?.name }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </carousel>
          </ng-container>
        </div>
      </div>
    </section>
  </div>

  <!---- ***** SECCION DE BANNER ****** -->
  <div #banner2>
    <section class="pt-5 pb-5" *appVisibility="banner2">
      <div class="container-main position-relative">
        <div class="overlay-black"></div>
        <div
          class="container-body-trips d-flex justify-content-center px-3 align-content-center align-items-center"
        >
          <div class="text-center z-index-1">
            <div class="image-trips-first-div text-center">
              <h2 class="">
                {{ "HOME.HOT_TRIPS" | translate }}
              </h2>
            </div>
            <div class="text-white">
              {{ "HOME.SECOND_HOT_TRIPS" | translate }}
            </div>
            <div class="pt-3">
              <button
                name="seeTrips"
                class="btn btn-default btn-lg hvr-shrink"
                [routerLink]="['/search']"
              >
                {{ "HOME.SEE_TRIPS" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!---- ***** SECCION DE INSTAGRAM ****** -->
  <div #instagram>
    <section *appVisibility="instagram">
      <div class="w-100">
        <div class="comunity">
          <div class="global-title-home">
            <h2>{{ "HOME.TITLE_COMUNITY" | translate }}</h2>
          </div>
          <div class="info-comunity custom-row">
            <div class="card-comunity" *ngFor="let item of communityData">
              <div class="content-card">
                <a [href]="item?.permalink" target="_blank">
                  <img
                    appImgFallback
                    class="main-image-home img-card"
                    [src]="item?.img"
                    alt="{{ item?.img }}"
                  />
                </a>
                <div class="name-instagram">
                  <fa-icon class="intagram-icon" [icon]="faInstagram"></fa-icon>
                  <p>{{ item?.name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!---- ***** SECCION DE INSTAGRAM ****** -->
  <div #aboutUs>
    <section *appVisibility="aboutUs" class="pt-5 pb-5">
      <div class="container-main position-relative">
        <div class="overlay-black"></div>
        <div class="container-body-about row m-0">
          <div
            class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-xl-2 align-content-center align-items-center"
          >
            <h2 class="inside-about-title text-white">
              {{ "HOME.TITLE_US" | translate }}
            </h2>
            <div class="text-white">{{ "HOME.CONTENT_US" | translate }}</div>
            <div class="pt-3">
              <button
                name="aboutUs"
                class="btn btn-default btn-lg hvr-shrink"
                [routerLink]="['/search']"
              >
                {{ "HOME.SEE_TRIPS" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
