@import "./src/shared";

.square {
  border-radius: $border-radius;
  height: 100%;
  opacity: 1;
  margin: 30px;
  overflow: hidden !important;
  display: flex;
  flex-wrap: wrap;
}

.square:hover {
  .img-card {
    transition: $all-transition-2;
    filter: opacity(1);
  }
}

.title-Step {
  width: 100%;
  justify-content: center;
  margin: 1rem 0;
  text-align: center;
}

.card-flight {
  cursor: pointer;
}

.body-section {
  display: flex;
  vertical-align: top;
  border-bottom: 1px dashed $border-color-2;
  &:last-child {
    border-color: transparent;
  }
}

.price-section {
  color: $text-color-1;
  justify-content: center;
  text-align: center;
}

.time {
  color: $text-color-1;
}

.duration {
  margin: 0 1rem;
  color: $text-color-1;
}

.air-brand {
  text-align: center;
}

.place-line {
  display: flex;
  justify-content: space-between;
}

.divider-air {
  width: 150%;
  left: -25%;
  right: -25%;
  position: absolute;
  border-bottom: solid 1px $border-color-1;

  .marker-air {
    font-family: $font-family-1;
    font-size: $font-size-1;
    &:not(:first-child):not(:last-child) {
      width: 100%;
      text-align: center;
    }
    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
    }
  }

  &:before {
    background-color: white;
    border: solid 1px $text-color-1;
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 2%;
    margin-top: -4px;
    border-radius: 23px;
  }

  &:after {
    background-color: white;
    border: solid 1px $text-color-1;
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    margin-top: -4px;
    right: 2%;
    border-radius: 23px;
  }
}
.more-info-air {
  font-family: $font-family-1;
  font-size: $font-size-1;
}

.custom-step {
  background-color: white;
  // background-color: $border-color-1;
  border-bottom: 1px solid $base-color-2;
}
.airports {
  white-space: nowrap;
}

.times-flights {
  white-space: nowrap;
}

.time-line {
  display: flex;
  justify-content: space-between;
}

.place {
  color: $text-color-2;
  margin: auto 0;
}

.stops {
  cursor: pointer;
  text-decoration: underline;
  margin: 0 1rem;
  font-weight: 500;
  color: $base-color-2;
}

.price {
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.opacity-0-70 {
  opacity: 0.7;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.view {
  color: $base-color;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 17px;
  position: relative;
  white-space: nowrap;
  border: 1px solid $base-color;
  border-radius: 5px;
  padding: 7px 10px;
  text-transform: uppercase;
}

.view::after {
  border-right: 1px solid $base-color;
  border-top: 1px solid $base-color;
  content: "";
  display: inline-block;
  height: 5px;
  margin-left: 4px;
  transform: rotate(45deg) translateY(-1px);
  width: 5px;
}

.save-of-text,
.save-of-number,
.normal-price-number,
.total-discount,
.normal-price-text {
  font-size: $font-size-3;
  text-transform: uppercase;
  color: $base-color;
  white-space: nowrap;
}

/*****/

.div-price {
  padding: 0.45rem 0;
  display: flex;
  justify-content: space-between;
}

.normal-price-number {
  color: $text-color-1;
}
.total-text {
  margin: auto 0;
  color: $base-color;
  font-size: $font-size-1;
  text-transform: uppercase;
}

.total-number {
  color: $base-color;
  font-size: 1.5rem;
  line-height: 35px;
}

//phone
@media print, screen and (max-width: 740px) {
  .title-Step {
    margin: 2rem 0;
  }
  .title-Step span {
    font-size: 1.3rem;
  }
  .square {
    margin: 0.5rem;
  }

  .body-main {
    width: 100%;
  }
  .body-section {
    display: grid;
    flex-wrap: wrap;
    padding-left: 0.5rem;
  }
  .price-section {
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
  }
  .price {
    margin-bottom: 0;
  }
  .time {
    font-size: 1rem;
  }
  .airports {
    font-weight: initial;
  }
  .divider-air {
    div,
    span {
      font-size: 0.8rem;
    }
  }
  .style-card {
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid $border-color-1;
    margin-bottom: 0.5rem;
  }
  .data-ticket {
    padding: 0;
  }
  .time-line {
    *,
    h5,
    p,
    span {
      font-size: $font-size-6 !important;
    }
  }
  .div-price {
    * {
      font-size: $font-size-3;
    }
  }
}

//tablet
@media print, screen and (max-width: 1140px) and (min-width: 740px) {
  .square {
    flex-wrap: wrap;
    flex-direction: inherit !important;
  }
  .price-section {
    display: initial;
  }
  .h3,
  h3 {
    font-size: 1.3rem;
  }
  .body-main {
    padding: 1rem 0;
  }
}

//desktop
@media print, screen and (min-width: 1140px) {
  .body-main {
    padding: 1rem 0;
  }
}
