@import '../../../../shared.scss';

small {
  font-family: $font-family;
}

.general-cont {
  width: 100%;
  min-height: 60vh;
}

::ng-deep ngx-intl-tel-input input {
  padding: 0 !important;
  margin: -6px -8px 0px -28px;
  border-width: 0 !important;

  &:focus {
    box-shadow: 0 0 0 transparent !important;
    filter: none !important;
  }
}

.text-description {
  resize: none;
}
.manager-forms {
  width: 100%;
  padding: 1.15rem;
  box-shadow: $shadow-custom;
  border: solid 1px $border-color-1;
}

.action-item {
  cursor: pointer;
  background-color: white;
  border: white;
  color: $base-color;
}

.action-item:disabled {
  cursor: not-allowed;
  color: $border-color-3;
  background-color: white;
}

.close-date {
  color: $base-color;
}

.squeare {
  margin-bottom: 1.5rem;
}

.value-style {
  color: $text-color-1;
  margin-top: 0.65rem;
  margin-bottom: 0.65rem;
}

.style-textarea {
  height: 7.5125rem;
  line-height: 1.8125rem;
  width: 100%;
  border: none;
  font-size: 1rem;
  border-bottom: 0.0625rem solid #302a3d;
}

.intl-tel-input .country-list {
  box-shadow: none;
  font-size: 14px;
  margin-left: 0;
  width: 261px;
  max-height: 170px;
}

.style-input {
  height: 2.5125rem;
  line-height: 2.5125rem;
  width: 100%;
  border: none;
  font-size: 1rem;
  border-bottom: 0.0625rem solid #302a3d;
}

.style-input:focus {
  outline-width: 0;
  border-bottom: 0.0625rem solid #302a3d;
}

.cont-template p {
  margin: 0;
  outline: none;
}

.btn-style {
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn-style button:hover {
  background: #ca0444;
}

.btn-style button {
  width: 8.75rem;
  color: #fff;
  background: $base-color;
  height: 2.8125rem;
  font-size: 1rem;
  text-transform: none;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0;
  border: transparent;
}

//phone
@media print, screen and (max-width: 740px) {
  .cont-form {
    width: 100%;
  }
  .squeare-info {
    width: 100%;
    margin-left: 0.5rem;
  }
  input {
    margin-top: 1rem;
  }
}

//tablet
@media print, screen and (max-width: 1140px) and (min-width: 740px) {
  .squeare-info {
    width: 40%;
    margin-left: 0.5rem;
  }
}

//desktop
@media print, screen and (min-width: 1140px) {
}
