<div class="p-2">
  <div class="pb-2">
    <h6 class="font-weight-bold">
      {{
        !updateItem
          ? ("GENERAL.SAVE" | translate)
          : ("GENERAL.UPDATE" | translate)
      }}
    </h6>
  </div>

  <form class="form-product" [formGroup]="form">
    <div class="form-group">
      <label>{{ "TOUR.ITINERARY.TITLE" | translate }}</label>
      <input
        type="text"
        class="form-control"
        formControlName="title"
        placeholder=""
      />
    </div>
    <div class="form-group mb-4 mt-4">
      <div class="d-flex">
        <p-checkbox
          animation="smooth"
          color="primary"
          shape="curve"
          [checked]="isFeatured"
          (change)="isFeatured = !isFeatured">
          <span class="custom-text">
            {{ "TOUR.INCLUDES.STAND_OUT" | translate }}
          </span>
        </p-checkbox>
      </div>
    </div>
    <div class="form-group">
      <label>{{ "TOUR.DESCRIPTION" | translate }}</label>
      <app-text-rich
        class="form-control"
        formControlName="description"
        [mode]="'add'"
        [isFull]="false"
        [cancelBtn]="false"
      ></app-text-rich>
    </div>
    <div class="form-group custom-item" *ngIf="type !== 'faq'">
      <label>{{ "TOUR.INCLUDES.IMAGE" | translate }}</label>
      <app-drop-gallery
        [removeMargin]="true"
        [multiple]="false"
        [activeAuxArray]="true"
        [singleFile]="true"
      ></app-drop-gallery>
    </div>
    <div class="form-group d-flex justify-content-between">
      <button class="btn btn-default hvr-grow" (click)="modal.close()">
        {{ "GENERAL.CANCEL" | translate }}
      </button>

      <button
        ngxLoading
        [loadingFlag]="loading"
        [textInitial]="'GENERAL.SAVE' | translate"
        [textLoading]="'GENERAL.SENDING' | translate"
        class="btn btn-primary hvr-grow"
        (click)="onSubmit()"
        [disabled]="!form.valid"
      ></button>
    </div>
  </form>
</div>
