<div
  dndEffectAllowed="copyMove"
  [dndDropzone]="['parent']"
  (dndDrop)="onDrop($event, data)"
  class="dndList"
>
  <div
    dndPlaceholderRef
    class="dndPlaceholder animate__animated animate__fadeIn w-100"
  ></div>

  <app-card-itinerary
    [itinerary]="item"
    [dndDraggable]="item"
    [dndDisableIf]="item?.disabled"
    [dndEffectAllowed]="'move'"
    [dndType]="'parent'"
    (dndMoved)="onDragged(item, data, 'move', data)"
    (dndEnd)="onDragEnd($event, data, item)"
    (changeOpen)="isChange($event)"
    [tour]="item"
    [index]="i"
    class="d-flex justify-content-between items-itinerary pt-2 pb-2"
    *ngFor="let item of data; let i = index"
  ></app-card-itinerary>
</div>
