@import "./src/shared.scss";

.general-cont {
  width: 100%;
  min-height: 60vh;
}

.custom-button {
  font-size: $font-size-3;
}

.custom-image-link {
  width: 100%;
  max-width: 25rem;
  margin: 3rem 0;
}

.container-success {
  display: grid;
  margin: auto;
  width: 80%;
  justify-content: center;
  align-items: center;
}
